
.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#skills {
        background-color: #e2edff;

}

.profile-section-title {

margin-bottom: 3rem;

}

.topskills {
    display: flex;
    justify-content: center;
    gap: 20px; 
    font-size: 3rem; 
  }
  
.topskills i {
    margin: 0 10px; 
  }
  

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem   ;
}
.topskills {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 3rem;
  }
  